@*<div class="container">
        @{
            ViewBag.Title = "About";
        }
        <h2>@ViewBag.Title.</h2>
    </div>*@
@{
            ViewBag.Title = "About";
}
<div class="col-md-12 contact_main">
    <div class="col-lg-12 text-center header_margin">
        <header class="section-header">
            <h3 class="allHeader">About Us</h3>
        </header>
    </div>
    <p class="contact_page"> OUR GOAL is The Best Idea System Design for Your Vision. </p>
</div>
<div class="col-md-12 about_item">
    <div class="container">
        <div class="col-lg-4 text-center about_we">
            <a class="small_icon_we"><i class="mdi mdi-account-star"></i></a>
            <p class="we_are">
                <h3 class="about_p">We Are</h3>
                Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two.
            </p>
        </div>
        <div class="col-lg-4 text-center about_not">
            <a class="small_icon_not"><i class="mdi mdi-account-remove"></i></a>
            <p class="we_are_not">
                <h3 class="about_p">We Are Not</h3>
                Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two.
            </p>
        </div>
        <div class="col-lg-4 text-center about_do">
            <a class="small_icon_do"><i class="mdi mdi-calendar-check"></i></a>
            <p class="we_do">
                <h3 class="about_p">What We Do</h3>
                Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two.
            </p>
        </div>
    </div>
</div>

