
@{
    ViewBag.Title = "EmailInfo";
}


<div class="container">
    <div class="text-center">
        <div class="card-box-mails">
            <h2 class="text-uppercase text-center m-b-30">
                <a href="@Url.Action("Index","Home")" class="text-success">
                    <span><img src="~/img/T logo 3(3).png" alt="" height="30"></span>
                </a>
            </h2>
            <h3>Thank You ! Your Email is Successful.</h3>
            <button type="button" class="btn btn-info" style="float:none;margin-top:10px"><a href="@Url.Action("Contact","Home")">OK </a></button>
        </div>
    </div>
</div>

