
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>


<section id="software_em">
    <div class="row">
        <div class="col-lg-12 text-center">
            <br><br>
            <header class="section-header">
                <h3 class="section-subheading text-muted">Empartner</h3>
                <h2 class="section-subheading text-muted">Your office's partner is Empartner</h2>
            </header>
        </div>
    </div>
    <div class="row-sm text-center bender_image">
        <div class="col-md-12">
            <img src="~/img/Manual Attendance.png" class="img-responsive" alt="" style="margin-top:40px;max-width:100%;">
        </div>
    </div>
    <div class="row text-center">
        <div class="container">
            <div class="col-md-6">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        EMPartner ဆိုတာ
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    မိတ်ဆွေရဲ့လုပ်ငန်းတွင် မရှိမဖြစ်လိုအပ်သော ဝန်ထမ်းရေးနှင့် လစာများ၊ ငွေအဝင်အထွက်များ၊ လုပ်ငန်း စီမံခန့်ခွဲမှုမှတ်တမ်းများ၊ ပိုမိုတိကျမှန်ကန် မြန်ဆန်စေရန်အတွက်
                    ကူညီပေးနိုင်ပါသည်။
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    အဓိကလုပ်ဆောင်ချက်များမှာ
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">(၁) Time Attendance နှင့် Shifts များခွဲခြားသတ်မှတ်နိုင်််ခြင်း  </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">(၂) ဝန်ထမ်းရေးရာ အချက်အလက်များ မှတ်သားထားနိုင်ခြင်း(HR) </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">(၃) လစာများတွက်ချက်ရာတွင် သတ်မှတ်ထားသော စည်းမျဉ်းများနှင့်အညီ လွယ်ကူစွာ တွက်ချက်၍​ Pay Slip ထုတ်နိုင်ခြင်း </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">(၄) Accountants နှင့်သက်ဆိုင်သော ငွေအဝင်အထွက်များ၊ Trail Balance,Profit & Loss Reports များ ထုတ်ယူနိုင်ခြင်း </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">(၅) လုပ်ငန်းလည်ပတ်မှုကို Tickets များဖြင့် အသေးစိတ် စီမံခန့်ခွဲနိုင်ခြင်း </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၆) စီမံခန့်ခွဲသူများအတွက်လိုအပ်သော အစီရင်ခံစာ မှတ်တမ်းများရရှိနိုင်ခြင်း၊ သိမ်းဆည်းထားနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 4em">စသည့်အကျိုးကျေးဇူးများရရှိနိုင်ပါမည်။ </p>
            </div>
            <div class="col-md-6">
                <img class="emparter_image" src="~/img/EMPartner.jpg" />
                @*<img id="firstImg" src="~/img/EMPartner.jpg" alt="Snow" style="width:100%;max-width:450px">*@
            </div>
            <br>
            <div class="col-md-12">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Type ဘယ်လုပ်ငန်းတွေမှာသုံးလို့ရလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    ဝန်ထမ်းများရှိသော မည်သည့်လုပ်ငန်း အမျိုးအစားတွင်မဆို အသုံးပြုနိုင်ပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Using ဘယ်လိုအသုံးပြုရမလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    ဝန်ထမ်းတစ်ယောက်ချင်းစီမှ ကိုယ်ပိုင် Account တခုချင်းစီဖြင့် Mobile ဖုန်း (သို့မဟုတ်) Computer ဖြင့် Internet ရှိသော နေရာတိုင်းမှအသုံးပြုနိုင်ပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Customization ပြုပြင်ပြောင်းလဲလို့ရလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက လုပ်ငန်းအတွက် ကိုက်ညီသော ပုံစံအား မိတ်ဆွေတို့ စိတ်တိုင်းကျ ညှိနှိုင်း၍ ပြုပြင်ပြောင်းလဲမှုပေးနိုင်ပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Security လုံခြုံမှုရှိရဲ့လား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    အသုံးပြုသူ User အလိုက် အသေးစိတ် ခွင့်ပြုချက်များကို လိုအပ်သလို Admin ကိုယ်တိုင်ပြုပြင်နိုင်ခြင်း။Data အတွက် Backup & Restore လုပ်နိုင်ခြင်း။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Service ဝန်ဆောင်မှုရမှာလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက DataEntry Service ကိုပါ ဝန်ဆောင်မှု ပြုလုပ်ပေးပါသည်။ဝယ်ယူပြီးနောက်ပိုင်း (၃)လအတွင်း အခမဲ့ FOC Service ဆောင်ရွက်ပေးပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;"><p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">Training သင်ကြားပေးမှာလား?</p></h4>

                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    Customer များ နားလည်တတ်ကျွမ်းသည်အထိ သင်ကြားပေးပါသည်။
                </p>
            </div>
        </div>
    </div>
</section>
<!--Restaurant POS---->
<section id="software_RPOS" class="section-bg">
    <div class="row">
        <div class="col-lg-12 text-center header_margin">
            <header class="section-header">
                <h3 class="allHeader">Restaurant POS</h3>
            </header>
        </div>
    </div>
    <div class="row text-center">
        <div class="container">
            <div class="col-md-6">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Restaurant POS ဆိုတာ
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    သင့်ရဲ့ စားသောက်ဆိုင်လုပ်ငန်းမှာ အဓိကကျတဲ့ အရောင်းစာရင်း အဝယ်စာရင်းများကို တိကျမှန်ကန်စွာကြည့်ရှုနိုင်ပြီး စားသုံးသူများအား အချိန်နှင့် တစ်ပြေးညီ ဝန်ဆောင်မှုပေးနိုင်ဖို့ မိမိဝန်ထမ်းများ၏ လုပ်ဆောင်မှုများ လွယ်ကူစေခြင်းဖြင့် သင်၏လုပ်ငန်းကိုမြှင့်တင်ဖို့ Restaurant POS ကအကူအညီပေးနိုင်ပါသည်။
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    အဓိကလုပ်ဆောင်ချက်များမှာ
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၁) မိမိစိတ်ကြိုက် Table Planning လုပ်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၂) တစ်ပြိုင်နက် Table တစ်ခုတည်းတွင် Order နှစ်ခု ဖွင့်နိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၃) Items များကို နေရာပြောင်းရွှေ့ခြင်း၊ နှုတ်ခြင်း၊ ပေါင်းခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၄) Bill များကို Combine or Divide လုပ်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၅) Member များအား Discount မှတ်သားနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 3em">စသည်တို့ကို စနစ်တကျ လုပ်ဆောင်ပေးပါသည်။ </p>
            </div>
            <div class="col-md-6">
                <img class="restaturantPOS_image" src="~/img/RESPOS.jpg">
                @*<img id="secImg" src="~/img/RESPOS.jpg" alt="Snow" style="width:100%;max-width:450px">*@
            </div>
            <br>
            <div class="col-md-12">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Type ဘယ်လုပ်ငန်းတွေမှာသုံးလို့ရလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    Restaurant (စားသောက်ဆိုင်)၊Bar(ဘား)၊ Tea Shop(လက်ဖက်ရည်ဆိုင်)များနှင့် အလားတူ Business များတွင်အသုံးပြုနိုင်သည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Using ဘယ်လိုအသုံးပြုရမလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လုပ်ငန်း အကြီး၊ အသေး အလိုက် အနည်းဆုံး Computer တစ်လုံးမှစ၍ အသုံးပြုနိုင်ပြီး၊ လိုအပ်ပါက Client and Server စနစ်ဖြင့်လည်း ချိတ်ဆက်အသုံးပြုနိုင်မည်ဖြစ်သည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Customization ပြုပြင်ပြောင်းလဲလို့ရလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက လုပ်ငန်းအတွက် ကိုက်ညီသော ပုံစံအား မိတ်ဆွေတို့ စိတ်တိုင်းကျ ညှိနှိုင်း၍ ပြုပြင်ပြောင်းလဲမှုပေးနိုင်ပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Security လုံခြုံမှုရှိရဲ့လား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    အသုံးပြုသူ User အလိုက် အသေးစိတ် ခွင့်ပြုချက်များကို လိုအပ်သလို Admin ကိုယ်တိုင်ပြုပြင်နိုင်ခြင်း။
                    Data အတွက် Backup & Restore လုပ်နိုင်ခြင်း။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Service ဝန်ဆောင်မှုရမှာလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက DataEntry Service ကိုပါ ဝန်ဆောင်မှု ပြုလုပ်ပေးပါသည်။
                    ဝယ်ယူပြီးနောက်ပိုင်း (၃)လအတွင်း အခမဲ့ FOC Service ဆောင်ရွက်ပေးပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Training သင်ကြားပေးမှာလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    Customer များ နားလည်တတ်ကျွမ်းသည်အထိ သင်ကြားပေးပါသည်။
                </p>
            </div>
        </div>
    </div>
</section>
<section id="software_KInven">
    <div class="row">
        <div class="col-lg-12 text-center header_margin">
            <header class="section-header">
                <h3 class="allHeader">Stock Inventory</h3>
            </header>
        </div>
    </div>
    <div class="row text-center">
        <div class="container">
            <div class="col-md-6">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Stock Inventory ဆိုတာ
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    သင့်လုပ်ငန်းရဲ့ ကုန်ပစ္စည်းအရောင်း၊ အဝယ်၊ ပေးရန်ရှိ၊ ရရန်ရှိ စာရင်းဇယားများကိုပိုမိုတိကျမှန်ကန် မြန်ဆန်စေရန် အတွက် Stock Inventory ကကူညီပေးပါသည်။
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    အဓိကလုပ်ဆောင်ချက်များမှာ
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၁) Multi Location (ရန်ကုန်၊မန္တလေး) ခွဲ၍အသုံးပြုနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၂) ကုန်စည်များကို Unit  အမျိုးမျိုးခွဲခြားနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၃) ပေးရန်ရှိ၊ ရရန်ရှိများကို ဘောင်ချာအလိုက် ကြည့်ရှုနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၄) ငွေကြေးရှင်းတမ်းများကို အလီလီခွဲရှင်းနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၅) ကုန်အဝင်၊ အထွက် လယ်ဂျာများကို အသေးစိတ်ကြည့်ရှုနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 3em">စသည်တို့ကိုလုပ်ဆောင်ပေးပါသည်။	</p>
            </div>
            <div class="col-md-6">
                <img class="stockIventory_image" src="~/img/Stock Inventory.jpg">
                @*<img id="thirdImg" src="~/img/Stock Inventory.jpg" alt="Snow" style="width:100%;max-width:450px">*@
            </div>
            <br>
            <div class="col-md-12">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Type ဘယ်လုပ်ငန်းတွေမှာသုံးလို့ရလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    ကုန်ပစ္စည်းRetails (လက်လီ)၊ wholesales (လက်ကား) အရောင်းဆိုင်များ၊ အေးဂျင့်၊ ကုန်စုံဆိုင်၊ ဆေးဆိုင် စသောလုပ်ငန်းများတွင်အသုံးပြုနိုင်သည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Using ဘယ်လိုအသုံးပြုရမလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လုပ်ငန်း အကြီး၊ အသေး အလိုက် အနည်းဆုံး Computer တစ်လုံးမှစ၍ အသုံးပြုနိုင်ပြီး၊ လိုအပ်ပါက Client and Server စနစ်ဖြင့်လည်း ချိတ်ဆက်အသုံးပြုနိုင်မည်ဖြစ်သည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Customization ပြုပြင်ပြောင်းလဲလို့ရလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက လုပ်ငန်းအတွက် ကိုက်ညီသော ပုံစံအား မိတ်ဆွေတို့ စိတ်တိုင်းကျ ညှိနှိုင်း၍ ပြုပြင်ပြောင်းလဲမှုပေးနိုင်ပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Security လုံခြုံမှုရှိရဲ့လား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    အသုံးပြုသူ User အလိုက် အသေးစိတ် ခွင့်ပြုချက်များကို လိုအပ်သလို Admin ကိုယ်တိုင်ပြုပြင်နိုင်ခြင်း။Data အတွက် Backup & Restore လုပ်နိုင်ခြင်း။
                    <br>
                    <h4 style="font-weight:700;">
                <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                    Service ဝန်ဆောင်မှုရမှာလား ?
                </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက DataEntry Service ကိုပါ ဝန်ဆောင်မှု ပြုလုပ်ပေးပါသည်။ဝယ်ယူပြီးနောက်ပိုင်း (၃)လအတွင်း အခမဲ့ FOC Service ဆောင်ရွက်ပေးပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Training သင်ကြားပေးမှာလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    Customer များ နားလည်တတ်ကျွမ်းသည်အထိ သင်ကြားပေးပါသည်။
                </p>
            </div>
        </div>
    </div>
</section>
<!--Mini POS---->
<section id="software_MNPOS">
    <div class="row">
        <div class="col-lg-12 text-center header_margin">
            <header class="section-header">
                <h3 class="allHeader">Mini POS</h3>
            </header>
        </div>
    </div>
    <div class="row text-center">
        <div class="container">
            <div class="col-md-6">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color: #ff3300;font-size:16px;">
                        Mini POS ဆိုတာ
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    သင့်လုပ်ငန်းရဲ့ ကုန်ပစ္စည်းအရောင်း၊ အဝယ်၊ လစဉ် အရှုံး၊ အမြတ် စာရင်းဇယားများနှင့် ကုန်ပစ္စည်းလက်ကျန်စာရင်းများကို အချိန်နှင့် တပြေးညီ တိကျမှန်ကန် မြန်ဆန်စွာ ဆောင်ရွက်နိုင်ရန်အတွက် Mini POS မှကူညီပေးနိုင်ပါသည်။
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    အဓိကလုပ်ဆောင်ချက်များမှာ
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၁) ဆိုင်ခွဲများခွဲ၍ အသုံးပြုနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၂) ဆိုင်ခွဲအချင်းချင်းရှိ ကုန်ပစ္စည်းစာရင်းများလွှဲပြောင်းနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 2em">
                    (၃) ကုန်အဝင်၊ အထွက် လယ်ဂျာများကို အသေးစိတ်ကြည့်ရှုနိုင်ခြင်း
                </p>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;text-indent: 3em">စသည်တို့ကိုလုပ်ဆောင်ပေးပါသည်။ </p>
            </div>
            <div class="col-md-6">
                <img class="minipos_image" src="~/img/MINIPOS.jpg">
                @*<img id="fourthImg" src="~/img/MINIPOS.jpg" alt="Snow" style="width:100%;max-width:400px">*@
            </div>
            <br>
            <div class="col-md-12">
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Type ဘယ်လုပ်ငန်းတွေမှာသုံးလို့ရလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    Convenience Store, Mini Mart, Retails Shop....စသောလုပ်ငန်းများတွင်အသုံးပြုနိုင်သည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Using ဘယ်လိုအသုံးပြုရမလဲ ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လုပ်ငန်း အကြီး၊ အသေး အလိုက် အနည်းဆုံး Computer တစ်လုံးမှစ၍ အသုံးပြုနိုင်ပြီး၊ လိုအပ်ပါက Client and Server စနစ်ဖြင့်လည်း ချိတ်ဆက်အသုံးပြုနိုင်မည်ဖြစ်သည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Customization ပြုပြင်ပြောင်းလဲလို့ရလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက လုပ်ငန်းအတွက် ကိုက်ညီသော ပုံစံအား မိတ်ဆွေတို့ စိတ်တိုင်းကျ ညှိနှိုင်း၍ ပြုပြင်ပြောင်းလဲမှုပေးနိုင်ပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Security လုံခြုံမှုရှိရဲ့လား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    အသုံးပြုသူ User အလိုက် အသေးစိတ် ခွင့်ပြုချက်များကို လိုအပ်သလို Admin ကိုယ်တိုင်ပြုပြင်နိုင်ခြင်း။Data အတွက် Backup & Restore လုပ်နိုင်ခြင်း။
                    <br>
                    <h4 style="font-weight:700;">
                <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                    Service ဝန်ဆောင်မှုရမှာလား ?
                </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    လိုအပ်ပါက DataEntry Service ကိုပါ ဝန်ဆောင်မှု ပြုလုပ်ပေးပါသည်။ဝယ်ယူပြီးနောက်ပိုင်း (၃)လအတွင်း အခမဲ့ FOC Service ဆောင်ရွက်ပေးပါသည်။
                </p>
                <br>
                <h4 style="font-weight:700;">
                    <p class="text-left notosan_myafont" style="color:#ff3300;font-size:16px;">
                        Training သင်ကြားပေးမှာလား ?
                    </p>
                </h4>
                <p class="text-left text-muted notosan_myafont" style="font-size:14px;">
                    Customer များ နားလည်တတ်ကျွမ်းသည်အထိ သင်ကြားပေးပါသည်။
                </p>
            </div>
        </div>
    </div>
</section>





