    @{
        ViewBag.Title = "Sales";
    }
<div class="col-md-12 contact_main">
    <div class="col-lg-12 text-center header_margin">
        <header class="section-header">
            <h3 class="allHeader">Sales</h3>
        </header>
    </div>
    <p class="contact_page"> If you will require something, Please Contact Our Sale Team! <<<b style="color:#1eda48"> Phone No.</b> 09-5118364 >>  </phone>
</div>